# Values for production build.
# These are already hardcoded in .github/workflows/deploy.yml
# Only needed if building locally for production.

VITE_BASE_PATH=/jil-portal/
VITE_REDIRECT_URI=https://ite01678.github.io/jil-portal/
